# Coverage Matrix

| TC | Status | Interpretation | Evidence Complete | Notes |
| :---- | :---- | :---- | :---- | :---- |
| TC-01 | {{ tc01_status }} | {{ tc01_interpretation }} | {{ tc01_complete }} | {{ tc01_notes }} |
| TC-03 | {{ tc03_status }} | {{ tc03_interpretation }} | {{ tc03_complete }} | {{ tc03_notes }} |
| TC-08 | {{ tc08_status }} | {{ tc08_interpretation }} | {{ tc08_complete }} | {{ tc08_notes }} |
| TC-09 | {{ tc09_status }} | {{ tc09_interpretation }} | {{ tc09_complete }} | {{ tc09_notes }} |
| TC-10 | {{ tc10_status }} | {{ tc10_interpretation }} | {{ tc10_complete }} | {{ tc10_notes }} |
| TC-11 | {{ tc11_status }} | {{ tc11_interpretation }} | {{ tc11_complete }} | {{ tc11_notes }} |
| TC-12 | {{ tc12_status }} | {{ tc12_interpretation }} | {{ tc12_complete }} | {{ tc12_notes }} |
| TC-15 | {{ tc15_status }} | {{ tc15_interpretation }} | {{ tc15_complete }} | {{ tc15_notes }} |
